@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-heading: "Plus Jakarta Sans", sans-serif;
  --color-primary: #5044E5;
  --animate-marquee: marquee 30s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }
}

@custom-variant dark (&:where(.dark &));

* {
  font-family: "Inter", sans-serif;
  cursor: none;
}